.flexContainer {
    display: flex;
    flex-direction: row;
}

aside {
    width: 100px;
}

#character {
    position: relative;
    left: 400px;
    width: 500px;
}

.hitBox{
    visibility: visible;
}

img {
    position: absolute;
    width: 750px;
}

#brows {
    position: absolute;
    z-index: 99;
}

#mouth {
    position: absolute;
    z-index: 99;
}

#nose {
    position: absolute;
    z-index: 99;
}

#bangs {
    position: absolute;
    z-index: 98;
}

#eyes {
    position: absolute;
    z-index: 97;
}

#head {
    position: absolute;
    z-index: 96;
}

#MHair {
    position: absolute;
    z-index: 95;
}

#crown {
    position: absolute;
    z-index: 1;
}

.head{
    animation-name: neutralHead;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#torso {
    position: absolute;
    z-index: 93;

    animation-name: neutralTorso;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.fullarms {
    position: absolute;
}

.hand {
    z-index: 92;
}

#RHand{
    animation-name: neutralRArm;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#LHand{
    animation-name: neutralLArm;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.shoulder {
    z-index: 91;
}

#RShoulder{
    animation-name: neutralRArm;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    /* left: 0px;
    top: 0px;
    transform: rotate(0deg); */
}

#LShoulder{
    animation-name: neutralLArm;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    /* left: 0px;
    top: 0px;
    transform: rotate(0deg); */
}

#dress {
    position: absolute;
    z-index: 90;

    animation-name: neutralDress;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#LHair {
    position: absolute;
    z-index: -1;
}

#RHair {
    position: absolute;
    z-index: -11;
}

#MHair {
    position: absolute;
    z-index: 10;
}

#feet {
    position: absolute;
    z-index: 1;
}

body {
    background-color: rgb(183, 220, 241);
}

footer{
    height: 100px;
    background-color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.food {
    width: 175px;
    height: 175px;
}

#cheese1,
#cheese2,
#cheese3,
#cheese4,
#cheese5 {
    z-index: 100;
    opacity: 1;
    cursor: grab;
    user-select: none;
    position: absolute;
}

.windows{
    position: absolute;
    z-index: -99;

}

#w1{
    left: -260px;
}

#w2{
    left: 275px;
}

#noseHitBox{
    position: absolute;
    width: 25px;
    height: 10px;
    top: 290px;
    left: 363px;
    z-index: 1000;
    /* background-color: rgba(26, 255, 0, 0.188); */
}

#eyesHitboxR{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 268px;
    left: 375px;
    z-index: 998;
    /* background-color: #0077ff48; */
}

#eyesHitboxL{
    position: absolute;
    width: 40px;
    height: 30px;
    top: 268px;
    left: 335px;
    z-index: 998;
    /* background-color: #0077ff48; */
}

@keyframes neutralLArm {
    0%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }

    25%{
        transform: rotate(3deg);
        left: 16px;
        top: -19px;
    }

    50%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }

    75%{
        transform: rotate(3deg);
        left: 16px;
        top: -19px;
    }
    
    100%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }
}



@keyframes neutralRArm {
    0%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }

    25%{
        transform: rotate(-3deg);
        left: -15px;
        top: 22px;
    }

    50%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }

    75%{
        transform: rotate(-3deg);
        left: -15px;
        top: 22px;
    }
    
    100%{
        transform: rotate(0deg);
        left: 0px;
        top: 0px;
    }
}

@keyframes neutralTorso {
    0%{
        transform: scale(1);
        top: 0px;
        left: 0px;
    }
    
    25%{
        transform: scale(1.15);
        top: -55px;
        left: -57px;
    }

    50%{
        transform: scale(1);
        top: 0px;
        left: 0px;
    }
    
    75%{
        transform: scale(1.15);
        top: -55px;
        left: -57px;
    }

    100%{
        transform: scale(1);
        top: 0px;
        left: 0px;
    }
}

@keyframes neutralHead{

    0%{
        top: 0px;
    }
    
    25%{
        top: -6px;
    }

    50%{
        top: 0px;
    }
    
    75%{
        top: -6px;
    }

    100%{
        top: 0px;
    }
}

@keyframes neutralDress{

    0%{
        top: 0px;
    }

    25%{
        top: -6px;
    }

    50%{
        top: 0px;
    }

    75%{
        top: -6px;
    }

    100%{
        top: 0px;
    }
}

@keyframes eatingH {
    0%{
        top: 0px;
    }

    25%{
        top: -2px;
    }

    50%{
        top: 0px;
    }

    75%{
        top: -2px;
    }

    100%{
        top: 0px;
    }
}

@keyframes eatingRS {

    0%{
        transform: scaleX(0.5) rotate(-242deg);
        top: 112px;
        left: 665px;
        z-index: 100;
    }

    25%{
        transform: scaleX(0.5) rotate(-242deg);
        top: 107px;
        left: 665px;
        z-index: 100;
    }

    50%{
        transform: scaleX(0.5) rotate(-242deg);
        top: 112px;
        left: 665px;
        z-index: 100;
    }

    75%{
        transform: scaleX(0.5) rotate(-242deg);
        top: 107px;
        left: 665px;
        z-index: 100;
    }

    100%{
        transform: scaleX(0.5) rotate(-242deg);
        top: 112px;
        left: 665px;
        z-index: 100;
    }
}

@keyframes eatingRH {
    0%{
        transform: rotate(-223deg);
        top: 317px;
        left: 994px;
        z-index: 100;
    }

    25%{
        transform: rotate(-223deg);
        top: 312px;
        left: 994px;
        z-index: 100;
    }

    50%{
        transform: rotate(-223deg);
        top: 317px;
        left: 994px;
        z-index: 100;
    }

    75%{
        transform: rotate(-223deg);
        top: 312px;
        left: 994px;
        z-index: 100;
    }

    100%{
        transform: rotate(-223deg);
        top: 317px;
        left: 994px;
        z-index: 100;
    }
}

@keyframes eatingLS {
    0%{
        transform: scaleX(0.5) rotate(242deg);
        top: 776px;
        left: 263px;
        z-index: 100;
    }

    25%{
        transform: scaleX(0.5) rotate(242deg);
        top: 771px;
        left: 263px;
        z-index: 100;
    }

    50%{
        transform: scaleX(0.5) rotate(242deg);
        top: 776px;
        left: 263px;
        z-index: 100;
    }

    75%{
        transform: scaleX(0.5) rotate(242deg);
        top: 771px;
        left: 263px;
        z-index: 100;
    }

    100%{
        transform: scaleX(0.5) rotate(242deg);
        top: 776px;
        left: 263px;
        z-index: 100;
    }
}

@keyframes eatingLH {
    0%{
        transform: rotate(223deg);
        top: 829px;
        left: 310px;
        z-index: 100;
    }

    25%{
        transform: rotate(223deg);
        top: 823px;
        left: 310px;
        z-index: 100;
    }

    50%{
        transform: rotate(223deg);
        top: 829px;
        left: 310px;
        z-index: 100;
    }

    75%{
        transform: rotate(223deg);
        top: 823px;
        left: 310px;
        z-index: 100;
    }

    100%{
        transform: rotate(223deg);
        top: 829px;
        left: 310px;
        z-index: 100;
    }
}